:root {
    --background-color: #b4c3e299;
    --main-color: #212d7499;
}

* {
    box-sizing: border-box;
  }

body {
    background-color: var(--background-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: var(--main-color);
    display: flex;
}

header h1 {
    font-size: 5vw;
    display: inline-block;
    width: 60%;
    padding: 10px;
    margin: auto;
}

header div {
    margin: auto;
}

header div ul {
    font-size: 2vw;
    width: 40%;
    display: inline;
    padding-right: 20px;
}

header div ul li {
   color: blue;
   display: inline;
}

nav {
    position: relative;
    flex-wrap: wrap;
}

nav img {
    background-size: contain;
    object-fit: cover;
    height: 150px;
    width: 100%;
}

nav p {
    font-size: 4vw;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: var(--main-color);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.Personal-info {
    padding: 20px;
    clear: both;
    height: 100%;

}

.About-me, .Work, .Contact-me {
    text-align: justify;
    display: inline-block;
}

.About-me p {
    border-left: solid 5px;
    padding: 20px;
    display: flex;
    float: left;
    width: 80%;
}

.About-me h2 {
    font-size: 4vw;
    display: inline-block;
    float: left;
    width: 20%;
}

.About-me img {
    height: 30%;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.Work h2 {
    float: left;
    width: 20%;
    font-size: 4vw;
    display: inline-block;
}

.My-work {
    float: left;
    width: 80%;
    border-left: solid 5px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-content: center;
    padding-bottom: 50px;
}

.calculator {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

@media only screen and (max-width: 768px) {
    .My-work {
     grid-template-columns: repeat(1, 1fr)
}
}

.calculator, .maps, .recipes, .music-player, .gps {
    padding: 10px;
}

.calculator img, .maps img, .recipes img, .music-player img, .gps img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    border: 5px solid;
    transition: all 0.5s ease-in-out;
}
  
.calculator:hover, .maps:hover, .recipes:hover, .music-player:hover, .gps:hover {
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
  }

.calculator pre, .maps pre, .recipes pre, .music-player pre, .gps pre {
    position: relative;
    top: 50%;
    bottom: 50%;
    right: -5px;
    background-color: var(--main-color);
    padding: 10px;
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 1vw;
}

.app-titles {
    font-size: 3vw;
}

.Contact-me {
    padding-top: 50px;
    width: 100%;
}

.Contact-me h2 {
    font-size: 4vw;
    display: inline-block;
    float: left;
    width: 20%;
}

.Contact-me ul {
    display: inline-block;
    float: left;
    width: 80%;
    text-align: center;
    padding-left: 44px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-left: solid 5px;
}

.Contact-me ul li {
    color: blue;
    display: inline;
    font-size: 2.5vw;
}
