:root {
    --background-color: #b4c3e299;
    --main-color: #212d7499;
}

* {
    box-sizing: border-box;
  }

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(97,56,175,1) 35%, rgba(0,144,255,1) 100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.nav {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(97,56,175,1) 35%, rgba(0,144,255,1) 100%);
}

.nav a {
    color: white;
}

nav {
    position: relative;
    flex-wrap: wrap;
}

nav img {
    background-size: contain;
    object-fit: cover;
    height: 150px;
    width: 100%;
}

nav p {
    font-size: 4vw;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: var(--main-color);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.Personal-info {
    padding: 20px;
    clear: both;
    height: 100%;

}

.About-me, .Work, .Contact-me {
    text-align: justify;
    display: inline-block;
}

#about-me-p {
    border-left: solid 5px;
    padding: 20px; 
}

h2 {
    font-size: 3vw;
}

.About-me img {
    height: 30%;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    min-height: 250px;
    min-width: 250px;
}

.My-work {
    border-left: solid 5px;
    align-content: center;
}

.calculator, .maps, .recipes, .music-player, .gps {
    padding: 10px;
}

.maps img, .recipes img, .music-player img, .gps img {
    height: 28vw;
    min-height: 187.39px;
    width: 100%;
    background-size: cover;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.calculator img {
    max-height: 527px;
    min-height: 187.39px;
    width: 100%;
    background-size: cover;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}
  
.calculator:hover, .maps:hover, .recipes:hover, .music-player:hover, .gps:hover {
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
  }

.calculator pre, .maps pre, .recipes pre, .music-player pre, .gps pre {
    background-color: var(--main-color);
    color: white;
    text-align: center;
    font-size: 1vw;
    border-radius: 8px;
}

.app-titles {
    font-size: 3vw;
}

.Contact-me {
    padding-top: 50px;
    width: 100%;
}

.Contact-me ul {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
}

#contact {
    border-left: solid 5px;
}

.Contact-me ul li {
    color: white;
    font-size: 3vh;
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;

}

a:hover {
    color: black;
  }

.bi {
    font-style: normal;
}